@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using CowboyCafe.Data

    <div class="text-center">
        <h1 class="display-4">Welcome to The Cowboy Cafe</h1>
        <p>
            We at Cowboy Cafe are proud to bring you authentic trail meals
            from the American West. Shake off the dust on your boots and
            sake your thirst with one of our old-fashioned hand-jerked sodas.
            Dip your Pan de Campo into a bowl of beans. Or conquer the the
            mighty Texas Triple Burger! You’ve had a hard ride - so take it
            easy with us.
        </p>

        <h2>Entrees</h2>
        <div class="menu-item">
            <ul class="entrees">
                @foreach (Entree item in Menu.Entrees())
                {
                    <li>
                        <div class="menu-item">
                            @item
                            @String.Format("{0:C2}", item.Price)
                            @item.Calories
                        </div>
                    </li>
                }
            </ul>
        </div>

        <h2>Sides</h2>
        <div class="manu-item">
            <ul class="sides">
                @foreach (Side item in Menu.Sides())
                {

                    @foreach (Size size in Enum.GetValues(typeof(Size)))
                    {
                        item.Size = size;
                        <li>
                            @item
                            @String.Format("{0:C2}", item.Price)
                            @item.Calories
                        </li>
                    }

                }
            </ul>
        </div>

        <h2>Drinks</h2>
        <div class="menu-item">
            <ul class="drinks">
                @foreach (Drink item in Menu.Drinks())
                {

                    @foreach (Size size in Enum.GetValues(typeof(Size)))
                    {
                        item.Size = size;
                        <li>
                            @item
                            @String.Format("{0:C2}", item.Price)
                            @item.Calories
                        </li>
                    }

                }
            </ul>
        </div>
    </div>
