@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using CowboyCafe.Data

<! ---
        Index.cshtml
        Auther: Brandon Bednar
        Purpose: This page essentially functions as the home page currently
        --->
    
    <div id="header">
        <h1>Welcome to The Cowboy Cafe</h1>
        <p>
            We at Cowboy Cafe are proud to bring you authentic trail meals
            from the American West. Shake off the dust on your boots and
            sake your thirst with one of our old-fashioned hand-jerked sodas.
            Dip your Pan de Campo into a bowl of beans. Or conquer the the
            mighty Texas Triple Burger! You’ve had a hard ride - so take it
            easy with us.
        </p>
    </div>

    <form id="menu-info-display">
        <div id="search-filters">
            <div id="search-bar">
                <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                <input type="submit" value="Search" />
            </div>
            <div>
                <h4>Item Type</h4>
                @foreach (string type in Menu.ItemTypes)
                {
                    <label class="item-type">
                        <input type="checkbox" name="ItemTypes" value="@type" checked="@Model.ItemTypes.Contains(type)" />
                        @type
                    </label>
                }
            </div>
            
        <div class="calorie-range">
            <h4>Calories</h4>
            Between
            <input name="MinCalories" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.MinCalories" />
            and
            <input name="MaxCalories" type="number" min="0" max="1000" step="1" placeholder="max" value="@Model.MaxCalories" />
        </div>
            
            <div class="price-range">
                <h4>Price</h4>
                Between
                <input name="MinPrice" type="number" min="0.00" max="10.00" step="0.01" placeholder="min" value="@Model.MinPrice" />
                and
                <input name="MaxPrice" type="number" min="0.00" max="10.00" step="0.01" placeholder="max" value="@Model.MaxPrice" />
            </div>
        </div>
        
        <div class="flex-columns">
            <div class="menu-item">
                <h2 class="section-header">Entrees</h2>
                <ul class="entrees">
                    @foreach (IOrderItem item in Model.Items)
                    {
                        @if (item is Entree entree)
                        {
                            <li>
                                <div class="item-name">@entree</div>
                                <div>
                                    <div class="item-price">Price: @String.Format("{0:C2}", entree.Price)</div>
                                    <div class="item-calories">Calories: @entree.Calories</div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="menu-item">
                <h2 class="section-header">Sides</h2>
                <ul class="sides">
                    @foreach (IOrderItem item in Model.Items)
                    {
                        @if (item is Side side)
                        {
                            <li>
                                <div class="item-name">@side.SimpleName</div>
                                <div>
                                    <div class="size">Size: @side.Size</div>
                                    <div class="item-price">Price: @String.Format("{0:C2}", side.Price)</div>
                                    <div class="item-calories">Calories: @side.Calories</div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="menu-item">
                <h2 class="section-header">Drinks</h2>
                <ul class="sides">
                    @foreach (IOrderItem item in Model.Items)
                    {
                        @if (item is Drink drink)
                        {
                            <li>
                                <div class="item-name">@drink.SimpleName</div>
                                @if (drink.SimpleName.Equals("Jerked Soda"))
                                {
                                    <div>
                                        Flavors:
                                        @foreach(string flavor in Menu.JerkedSodaFlavors)
                                        {
                                            <div>@flavor</div>
                                        }
                                    </div>
                                }
                                <div>
                                    <div class="size">Size: @drink.Size</div>
                                    <div class="item-price">Price: @String.Format("{0:C2}", drink.Price)</div>
                                    <div class="item-calories">Calories: @drink.Calories</div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </form>



